*.o

windows/vs15/.vs/*
windows/vs15/Release/*
windows/vs15/Debug/*
tools/storyboardbuilder/windows/Release/*

*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user
*.db
*.opendb
*.ipdb
*.TMP
*.iobj
*.cache