*.o

windows/vs17/.vs/*
windows/vs17/Release/*
windows/vs17/Debug/*
tools/bin/*
tools/storyboardbuilder/windows/Release/*
tools/kompressor/windows/Release/*

*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user
*.db
*.opendb
*.ipdb
*.TMP
*.iobj
*.cache

bin/*